{% extends 'private_base.html' %}
{% block main %}
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-xl-8">
            <div class="row mb-5 ">
                <div class="col-12">
                    <a href="{% url 'employee_create' %}" type="button" class="btn btn-success">
                        <i class="bi bi-person-plus"></i> Add Employee
                    </a>
                </div>
            </div>
            {% if object_list %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Position</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Employee ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for employee in object_list %}
                        <tr class="clickable" onclick="window.location='{% url 'employee_details' employee.pk %}';">
                            <td>{{ employee.first_name }}</td>
                            <td>{{ employee.last_name }}</td>
                            <td>{{ employee.mobile }}</td>
                            <td>{{ employee.start_date|baran_date_format }}</td>
                            <td>{{ employee.get_position_display }}</td>
                            <td>{{ employee.get_salary }}</td>
                            <td>{{ employee.employee_id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}